<div class="card shadow-lg chat-card">
  <div class="card-header text-white">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="mb-0">ChatBot</h5>
      <div class="input-group" style="width: 450px;">
        <label class="input-group-text" for="inputGroupSelect01">角色设定</label>
        <select class="form-select" id="inputGroupSelect01" [(ngModel)]="currentSettingId" (change)="changeSetting(currentSettingId)">
          <option [selected]="setting.default" *ngFor="let setting of settings" value="{{ setting.id }}">{{ setting.name }}</option>
        </select>
        <button [ngClass]="{ 'not-default': !isDefaultSetting }" class="default" (click)="setCurrentSettingToBeDefault(currentSettingId)" [disabled]="isDefaultSetting">{{ isDefaultSetting ? "已为默认" : "设为默认" }}</button>
        <button class="edit" routerLink="edit/{{ currentSettingId }}"><i class="fa-regular fa-pen-to-square"></i></button>
        <button class="delete" (click)="deleteSetting(currentSettingId)"><i class="fa-solid fa-trash"></i></button>
        <button class="add" routerLink="add">&nbsp;<i class="fa-solid fa-square-plus"></i>&nbsp;</button>
      </div>
    </div>
  </div>
  <div *ngIf="messages.length > 0" class="card-body chat-body" #chatBody>
    <div *ngFor="let msg of messages" class="d-flex mb-3">
      <div *ngIf="msg.role === '1'" class="ms-auto">
        <label class="text-end w-100 small text-muted mb-1">{{ getViewTime(msg.time) }}</label>
        <div class="bg-green text-black p-2 rounded-3">
          {{ msg.content }}
        </div>
      </div>
      <div *ngIf="msg.role === '0'" class="me-auto">
        <label class="text-start w-100 small text-muted mb-1">{{ getViewTime(msg.time) }}</label>
        <div class="bg-light p-2 rounded-3">
          {{ msg.content }}
        </div>
      </div>
    </div>
    <div *ngIf="answerRunning" class="me-auto">
      <div class="bg-light p-2 rounded-3">
        <p>{{ naturalLanguageResult }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="messages.length === 0" class="card-body chat-body">
    <div class="nav flex-column justify-content-center text-center text-success" style="height:500px;">
      <div>
        <h3 style="color:#cecece;">还没有开启聊天哦，请输入对话内容发起聊天吧！</h3>
      </div>
    </div>
  </div>
  <div class="card-footer chat-footer d-flex justify-content-between align-items-center">
    <!-- 模式选择: 文本模式 / 语音模式 -->
    <div class=" d-flex ms-auto">
      <div>
        <input class="form-check-input" type="radio" name="mode" id="textMode" value="text" [(ngModel)]="mode" (change)="toggleMode('text')" checked>
        <label for="textMode">
          文本
        </label>
      </div>
      <div>
        <input class="form-check-input" type="radio" name="mode" id="audioMode" value="audio" [(ngModel)]="mode" (change)="toggleMode('audio')">
        <label for="audioMode">
          语音
        </label>
      </div>
    </div>

    <!-- 根据模式显示不同的 UI -->
    <div *ngIf="mode === 'text'" class="input-group">
      <textarea [(ngModel)]="messageContent" class="form-control" rows="3" placeholder="在此输入聊天内容..."></textarea>
      <button class="btn" (click)="sendMessage(messageContent)">发送</button>
    </div>

    <div *ngIf="mode === 'audio'" class="input-group">
      <canvas *ngIf="!isAudioPlaying" id="waveform" class="form-control"></canvas>
      <div *ngIf="isAudioPlaying" class="voice-message form-control">
        <img src="assets/emoji.png" class="emoji" />
        <div class="voice-animation">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <textarea [(ngModel)]="speechRecognitionText" class="form-control" rows="3"  [placeholder]="inConversation ? '语音识别结果...' : '请点击右侧按钮开启对话'" readonly></textarea>
      <button class="btn" (click)="startMic()" [style.background-color]="inConversation ? 'coral' : ''">
        {{ inConversation ? '正在对话' : '开启对话' }}
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
